.body{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: auto;
    background: #1b2356;
    color: rgba(41, 41, 50, 0.527);
}

/* .sc-dkzDqf.faVNZf.rdt_TableHeadRow{
  background-color: #064f63 !important;
}

.sc-hHLeRK gFYXSL rdt_TableBody{
  background-color: #064f63 !important;
}

.sc-dmRaPn gelpCx{ */
    /* background-color: #064f63 !important;
} */
/* .sc-gsnTZi idPHNo rdt_TableHead{ */
.idPHNo{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: rgba(24, 26, 90, 0.87);
    font-size: 19px;

}
.sc-dkzDqf.faVNZf.rdt_TableHeadRow {
    background-color: #100d589c !important;
}

/* //table headrow// */
.faVNZf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    min-height: 52px;
    min-height: 32px;
    min-height: 56px;
    padding: 30px;
    font-size: 19px;
    border: 5px solid rgb(17, 14, 37);
    border-left: 50px solid rgb(17, 14, 37);
    border-right: 50px solid rgb(17, 14, 37) ;
    background-color: #07132977;
    border-style: groove;


}

.ifOHjV {
    position: relative;
    width: 100%;
    display: table;
    align-items: stretch;
    width: 100%;
    background-color: #152267a0;
    min-height: 52px;
}
.sc-hHLeRK {
    background-color: #1b2356;
}


.cCKpPz:not(:last-of-type) {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.12);
    background-color: rgba(57, 47, 102, 0.301);
    color: white;
    font-size: 20px; 
    background-color: #1b2356;
}